	/* Tag type Selector */
		body{
			background-color: #cccccc;
			margin:0px;
			padding:0px;
		}

		/* ID Selector */
		#wrapper{
			width:960px;
			min-height:1000px;
			margin:auto auto;
			background-color: #ffffff;
			border-radius:0px 50px 0px 50px;
		}
		/* classs selector*/
		.myheading{
			font-size:25px;
			font-weight:bolder;
			font-variant:small-caps;
		}